<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user Registration</title>
</head>
<body>
<form method="POST" action="">
    {%csrf_token%}

    {{form.username.label}}
    {{form.username}}
    <br>
    <br>
    {{form.email.label}}
    {{form.email}}
    <br>
    <br>
    {{form.password1.label}}
    {{form.password1}}
    <br>
    <br>
    {{form.password2.label}}
    {{form.password2}}
    <br>
    <br>
    <button type="submit">Register User</button>
    already have an account? <button><a href="{%url 'login'%}">Login</a></button>
</form>
</body>
</body>
</html>